@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a,
ul {
  text-decoration: none;
  color: gray;
  list-style-type: none;
}

.header,
.footer {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  padding: 12px;
}

.footer {
  background-color: wheat;
}

.right-links,
.left-links {
  display: flex;
  gap: 15px;
}

.content {
display: flex;
flex-grow: 1;
justify-content: center;
align-items: center;
flex-direction: column;
/* min-height: 87vh; */
}

.buttons {
  padding: 15px;
}
