* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background: royalblue;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 20px;
  flex-shrink: 0;
}

li,
a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  font-size: medium;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px 20px 10px 10px;
  justify-content: center;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  height: 200px;
  flex-basis: 250px;
  margin: 10px;
  padding: 10px;
  font-size: small;
}

