body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  font-size: large;
}

.content {
  background: #e3f4ff;

  padding: 10px;
  font-size: 15px;
  margin-bottom: 12px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

.content,
.button-container {
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  margin-left: 150px;  
}